body{
    position: relative;
    padding: 0px;
    min-height: 100vh;
    margin: 0px;
}

.main {
    background: #f0f2f5;
    min-height: 100vh;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: unset;
}
.content{
    width: 1000px;
    height: 500px;
}

.login{
    margin: auto;
    width: 320px;
    height: 500px;
    position: relative;
}

.login-content{
    width: 320px;
    min-height: 300px;
    background: white;
    border-radius: 6px;
    margin-top: 18px;
    padding-top: 24px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, .08);
}
.login-head{
    text-align: center;
    margin-top: 10px;
}
.login-head>img{
    width: 46px;
    position: relative;
    bottom: 5px;
}
.login-head>span{
    font-size: 28px;
}


.login-title{
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

.login-line{
    width: 260px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #dcdee0;
    border-radius: 3px;
    margin: auto;
    margin-bottom: 24px;
}

.login-button-line{
    width: 260px; 
    margin: auto;
}

.login-button-line>button{
    width: 260px;
    height: 40px;
}

.login-line>input{
    height: 36px;
    text-indent: 4px;
    font-size: 16px;
    color: #333;
    width: 198px;
    border: none;
    outline: none;
}

.login-line>i{
    color: #888;
    font-size: 20px;
    margin-left: 10px;
}

.foot-copy{
    text-align: center;
    font-size: 14px;
    margin-top: 24px;
}

.comm-ipt{
    margin-left: 10px;
    width: 160px;
}

.changepwd-edit-line>span{
    display: inline-block;
    width: 60px;
    text-align: right;
    margin-right: 20px;
}
@media screen and (max-width: 1024px){
    .changepwd-edit-line{
        height: 50px;
        line-height: 50px;
    }
}
@media screen and (min-width: 1025px){
    .login{
        width: 420px;
    }
    .login-content{
        width: 420px;
        min-height: 320px;
    }
    .login-line{
        width: 300px;
    }
    
    .login-button-line{
        width: 300px; 
    }
    
    .login-button-line>button{
        width: 300px;
    }

    .login-line>input{
        width: 236px;
    }

    .changepwd-edit-line{
        height: 60px;
        line-height: 60px;
    }
}