body{
    position: relative;
    padding: 0px;
    min-height: 100vh;
    margin: 0px;
}

.main {
    background: #f0f2f5;
    min-height: 100vh;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: unset;
}
.content{
    width: 1000px;
    height: 500px;
}

.login{
    margin: auto;
    width: 420px;
    height: 500px;
    position: relative;
}

.login-content{
    width: 420px;
    min-height: 320px;
    background: white;
    border-radius: 6px;
    margin-top: 18px;
    padding-top: 24px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, .08);
}
.login-head{
    text-align: center;
    margin-top: 10px;
}
.login-head>img{
    width: 46px;
    position: relative;
    bottom: 5px;
}
.login-head>span{
    font-size: 28px;
}


.login-title{
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

.login-line{
    width: 300px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #dcdee0;
    border-radius: 3px;
    margin: auto;
    margin-bottom: 24px;
}

.login-button-line{
    width: 300px; 
    margin: auto;
}

.login-button-line>button{
    width: 300px;
    height: 40px;
}

.login-line>input{
    height: 36px;
    text-indent: 4px;
    font-size: 16px;
    color: #333;
    width: 236px;
    border: none;
    outline: none;
}

.to-regist-line{
    width: 300px;
    margin: auto;
    margin-top: 22px;
    color: #999;
    font-size: 16px;
    text-align: center;
}

.to-login-line{
    margin-top: 20px;
    margin-bottom: 10px;
    height: 40px;
}

.to-regist-line a{
    color: #1890ff;
    font-weight: bolder;
}

.login-line>i{
    color: #888;
    font-size: 20px;
    margin-left: 10px;
}

.foot-copy{
    text-align: center;
    font-size: 14px;
    margin-top: 24px;
}

.regist-content{
    width: 520px;
    min-height: 360px;
    padding-top: 8px;
}

.regist-title{
    /* border: 1px solid black; */
    text-align: left;
    margin-left: 24px;
    margin-bottom: 12px;
}

.regist-line{
    height: 48px;
}

.regist-line>span{
    display: inline-block;
    text-align: right;
    width: 80px;
    margin-right: 10px;
}
.regist-line>span>i{
    color: red;
    margin-right: 1px;
}
.regist-button-line{
    padding-left: 92px;
    margin-top: 4px;
}

.comm-ipt{
    margin-left: 10px;
    width: 160px;
}
