.ant-table-pagination.ant-pagination {
    float: none;
    margin-top: 24px;
    text-align: center;
}

.ant-pagination {
    text-align: center;
}

.data-table-head {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 14px;
    padding-left: 14px;
}

.opt-head-part {
    border: none;
}

.opt-head-part-line {
    margin-bottom: 10px;
}

.opt-head-part-line>span:nth-of-type(1) {
    display: inline-block;
    width: 70px;
    text-align: right;
}

.amodal-edit-line {
    height: 50px;
}

.amodal-edit-line>span {
    display: inline-block;
    width: 64px;
    text-align: right;
    margin-right: 6px;
}

.amodal-edit-line>span>i {
    color: red;
    margin-right: 1px;
}

.regist-machine-list {
    border: 1px solid #e8e8e8;
    background: #fafafa;
    height: 260px;
    overflow: auto;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 14px 0px 6px 24px;
}

.machine-passday-div {
    display: inline-block;
    border: 0px solid #1890ff;
    border-radius: 3px;
}

.code-list-detail {
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 6px;
    background: #eee;
    border-radius: 4px;
}

.code-list-detail:nth-of-type(n+2) {
    margin-top: 24px;
}

.machine-line-info {
    padding-right: 6px;
    margin-bottom: 4px;
    margin-top: 2px;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.machine-line-info>div:nth-of-type(1) {
    width: 88px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: right;
    margin-right: 4px;
}

.regist-machine-sn {
    color: #18acff;
    border: 1px solid #91d5ff;
    background: #e6f7ff;
    width: 274px;
    height: 48px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    align-items: center;
    display: flex;
    padding-left: 10px;
}

.regist-machine-sn>img {
    width: 54px;
    height: 36px;
    margin-left: 1px;
    margin-right: 2px;
}

.regist-machine-line {
    margin-top: 14px;
    margin-bottom: 20px;
}

.regist-machine-sn>button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    width: 40px;
}

.regist-machine-submit {
    width: 100%;
    padding: 10px 0px 36px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.regist-machine-line-title {
    margin-bottom: 10px;
}

.regist-machine-list-addremove {
    margin-top: 14px;
}

.regist-machine-list-addremove>* {
    margin-right: 10px;
}

.regist-machine-passday {
    margin-top: 10px;
}

.regist-machine-tipspan {
    margin-left: 12px;
}

.table-info-part {
    border-bottom: 1px solid #e0e0e0;
    position: relative;
}

.table-info-order-line {
    position: absolute;
    width: 34px;
    top: 0px;
    left: 0px;
    text-align: right;
}

.table-info-mutiline {
    display: flex;
    align-items: flex-start;
}

.table-info-line {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 4px;
    margin-top: 2px;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.table-info-device-line {
    display: flex;
    align-items: center;
}

.machine-icon {
    margin-left: 8px;
    margin-right: 12px;
}

.machine-order {
    margin-left: 6px;
    min-width: 24px;
    text-align: right;
    font-size: 16px;
}

.machine-icon>img {
    width: 48px;
    height: 32px;
}

.machine-sn {
    font-size: 18px;
}

.table-info-line>div:nth-of-type(1) {
    width: 80px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: right;
    margin-right: 4px;
}

.table-info-line>div:nth-of-type(2) {
    word-wrap: break-word;
    word-break: break-all;
}

.table-info-optbtns {
    padding: 0px 10px 10px 2px;
    display: flex;
    justify-content: flex-end;
}

.table-info-optbtns>* {
    margin-right: 8px;
}

.table-opt-alink {
    border: 1px solid #c4c4c4;
    color: #656565;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
}

.table-opt-alink-danger {
    border: 1px solid #ff4d4d;
    color: #ff4d4d;
}

.tablel-opt-alink-act {
    color: #52c41a;
    border: 1px solid #52c41a;
}

.table-bottom-page-count {
    padding: 8px 0px 4px 16px;
}

.ant-radio-button-wrapper {
    margin-bottom: 8px;
}

.ant-checkbox-wrapper {
    margin-bottom: 4px;
}

.z-system-setting-part {
    padding: 4px 0px 6px 0px;
}

.z-system-setting-title {
    font-size: 22px;
    margin-bottom: 16px;
}

.z-system-setting-line {
    margin-bottom: 18px;
}

.z-system-setting-line>div:nth-of-type(1) {
    margin-bottom: 6px;
}

.z-system-setting-line-func {
    align-items: flex-start;
    height: auto;
}

.eye-touch-part-content {
    display: inline-block;
    vertical-align: top;
    margin-left: 4px;
}

.eye-touch-part {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    width: 32px;
    height: 32px;
    vertical-align: top;
    border-radius: 4px;
    cursor: pointer;
}

.not-empty-span {
    color: #ff3300;
    margin-right: 1px;
}


.config-bit-funcs{
    border: 1px solid #d9d9d9;
    height:30px;
    margin-bottom: 12px;
    border-radius: 3px;
    width: 100%;
    display: flex;
    align-items: center;
}


.config-bit-name{
    width: 60px;
    background: #f6f6f6;
    border-right: 1px solid #d9d9d9;
    padding-left: 10px;
    height:28px;
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
}
.config-bit-info{
    flex-grow: 1;
    padding-left: 8px;
    font-size: 14px;
}
.config-bit-info>input{
    width: 100%;
    border: none;
    outline: none;
}
.config-bit-btn{
    cursor: pointer;
    background: rgba(0,0,0,0);
    border: none;
    font-size: 18px;
    outline: none;
    border-radius: 4px;
    flex-grow: 0;
    flex-shrink: 0;
}

.config-bit-del-btn{
    color: #ff4d4f;
}

.config-bit-add-btn{
    color: #1890ff;
}