.ant-table-pagination.ant-pagination {
    float: none;
    margin-top: 24px;
    text-align: center;
}

.ant-pagination {
    text-align: center;
}

.data-table-head {
    height: 52px;
}

.opt-head-part {
    border: none;
}

.amodal-edit-line {
    height: 54px;
}

.amodal-edit-line>span {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 6px;
}

.amodal-edit-line>span>i {
    color: red;
    margin-right: 1px;
}

.regist-machine-list {
    border: 1px solid #e8e8e8;
    background: #fafafa;
    height: 260px;
    overflow: auto;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 14px 0px 6px 24px;
}

.machine-passday-div {
    display: inline-block;
    border: 0px solid #1890ff;
    border-radius: 3px;
}

.code-list-detail {
    padding-top: 4px;
    padding-bottom: 6px;
    background: #eee;
    border-radius: 4px;
}

.code-list-detail:nth-of-type(n+2) {
    margin-top: 24px;
}
.machine-line-info{
    padding-right: 6px;
    margin-bottom: 4px;
    margin-top: 2px;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    position: relative;
}


.machine-line-info>div:nth-of-type(1){
    width: 92px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: right;
    margin-right: 4px;
}

.regist-machine-sn {
    color: #18acff;
    border: 1px solid #91d5ff;
    background: #e6f7ff;
    width: 274px;
    height: 48px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    align-items: center;
    display: flex;
    padding-left: 10px;
}

.regist-machine-sn>img {
    width: 54px;
    height: 36px;
    margin-left: 1px;
    margin-right: 2px;
}

.regist-machine-line {
    margin-top: 14px;
    margin-bottom: 20px;
}

.regist-machine-sn>button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    width: 40px;
}

.regist-machine-submit {
    width: 900px;
    padding: 10px 0px 28px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.regist-machine-line-title {
    margin-bottom: 10px;
}

.regist-machine-list-addremove {
    margin-top: 14px;
}

.regist-machine-list-addremove>* {
    margin-right: 10px;
}

.regist-machine-passday {
    margin-top: 10px;
}

.regist-machine-tipspan {
    margin-left: 12px;
}

@media screen and (min-height: 500px) and (max-height: 800px) {
    .not-enough-height {
        background: #f0f2f5;
        height: 18px;
    }
}